﻿@model IList<EncuestasINEI.Models.Respuesta>

@{
    ViewBag.Title = "ResolverEncuesta";
}

<h2>Encuesta</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{ var i = 0; }
        @foreach (EncuestasINEI.Models.Pregunta item in ViewBag.ListaPreguntas)
        {
            string tipo_pregunta= item.TipoPregunta.Nombre.ToLower();
            switch (tipo_pregunta)
            {
                case "texto":
                    <div class="form-group">
                        @Html.Label(item.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model[i].Texto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model[i].Texto, "", new { @class = "text-danger" })
                            @Html.Hidden("[" + i + "].PreguntaID", item.ID)
                        </div>
                    </div>
                    break;
                case "numerico":
                    <div class="form-group">
                        @Html.Label(item.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model[i].Texto, new { htmlAttributes = new { @class = "form-control", @type="number" } })
                            @Html.ValidationMessageFor(model => model[i].Texto, "", new { @class = "text-danger" })
                            @Html.Hidden("[" + i + "].PreguntaID", item.ID)   
                        </div>
                    </div>
                    break;

                case "si/no":
                    <div class="form-group">
                        @Html.Label(item.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model[i].Texto,"Si", new { @id="rbSi", @checked=true}) Si               
                            @Html.RadioButtonFor(model => model[i].Texto,"No", new { @id = "rbNo" }) No
                            @Html.Hidden("[" + i + "].PreguntaID", item.ID)                      
                        </div>
                    </div>
                    break;

            }
            i++;
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "EncuestasParaUsuarios", "Encuestas")
</div>

@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
}
