﻿@model EncuestasINEI.Models.Pregunta

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encuesta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encuesta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPregunta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPregunta.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver", "Index", new { id_encuesta = Session["encuesta_id"] })
</p>
