﻿@model IEnumerable<EncuestasINEI.Models.Encuesta>

<h2>Encuestas por fecha</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Fecha1", "Desde", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Fecha1", "", new { htmlAttributes = new { @class = "form-control valid",
               @data_val = "true", @data_val_required = "La fecha es requerida",
               @type = "date" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha2", "Hasta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Fecha2", "", new { htmlAttributes = new { @class = "form-control valid",
               @data_val = "true",
               @data_val_required = "La fecha es requerida",
               @type = "date" } })
            </div>
        </div>
       
        <div class="form-group">
            @Html.Label("Activo", "Activos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Activo")
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Inactivo", "Inactivos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Inactivo")
                   @* @Html.Editor("Inactivo", "", new { htmlAttributes = new { @type = "checkbox" } })*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Session["Encuestas"] != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcanceNacional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlcanceNacional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>        
        </tr>
    }
    </table>
}
else if(ViewBag.Resultado != null)
{
    <font color="red">@ViewBag.Resultado</font>
}

@{
    Session["Encuestas"] = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}