﻿@model IEnumerable<EncuestasINEI.Models.Encuesta>

@{
    ViewBag.Title = "EncuestasParaUsuarios";
}

<h2>Encuestas nuevas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Resolver encuesta", "ResolverEncuesta", "Respuestas", new { id_encuesta=item.ID }, null) 
        </td>
    </tr>
}

</table>
