﻿@{
    ViewBag.Title = "EliminarEncuesta";
}

<h1>¡Error!</h1>
<h4>
    No se puede eliminar esta encuesta
</h4>
<br />
<h4>@ViewBag.Error</h4>


<br />
<p>
    @Html.ActionLink("Volver", "Index", "Encuestas")
</p>
